# Environment variables
.env
*.env


# Java
backend/target/
*.class


# Maven
.mvn/wrapper/maven-wrapper.jar


# Node
frontend/node_modules/
frontend/dist/


# IDE
.vscode/
.idea/


# OS
.DS_Store
Thumbs.db